<body style="background-color: rgb(236, 211, 236); margin-top: -11.5px; ">

<!-- 
    <picture
        style=" height: 500px;width: 50%; background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);  box-shadow: rgba(7, 7, 11, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;">

    </picture> -->
    <picture>
        <img style="margin-top: 5%; margin-left: 8%; width: 50%; height: 600px;border-radius: 20px; box-shadow: rgba(7, 7, 11, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;" 
            src="https://images.pexels.com/photos/3127880/pexels-photo-3127880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="image">
            
    </picture>


    <div class="card" >
        <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center;background: transparent;">
            <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
        </mat-card>
        <div class="text-center" *ngIf="!isLoading">
            <h1>Sign Up</h1>
        </div>
        <form *ngIf="!isLoading">
            <form [formGroup]="signupForm" (ngSubmit)="sendSignupData()">
                <div class="row">
                    <div class="col">
                        <input formControlName="firstName" type="text" class="form-control" placeholder="First name"
                            aria-label="First name">
                        <section *ngIf="firstName?.invalid &&(firstName?.dirty||firstName?.touched)">
                            <p></p>
                            <div *ngIf="firstName?.errors?.['required']" class="asset1">First Name is
                                required</div>
                            <div *ngIf="firstName?.errors?.['minlength']" class="asset1">First Name
                                should
                                have atleast '4' characters</div>
                            <div *ngIf="firstName?.errors?.['maxlength']" class="asset1">First Name
                                should
                                have maximum of '10' characters</div>
                            <div *ngIf="firstName?.errors?.['pattern']" class="asset1">Only Alphabets
                                are
                                allowed</div>
                        </section>
                    </div>
                    <div class="col">
                        <input formControlName="lastName" type="text" class="form-control" placeholder="Last name"
                            aria-label="Last name">
                        <section *ngIf="lastName?.invalid &&(lastName?.dirty||lastName?.touched)">
                            <p></p>
                            <div *ngIf="lastName?.errors?.['required']" class="asset1">Last Name is
                                required
                            </div>
                            <div *ngIf="lastName?.errors?.['minlength']" class="asset1">Last Name should
                                have atleast '3' characters</div>
                            <div *ngIf="lastName?.errors?.['maxlength']" class="asset1">Last Name should
                                have maximum of '10' characters</div>
                            <div *ngIf="lastName?.errors?.['pattern']" class="asset1">Only Alphabets are
                                allowed</div>
                        </section>
                    </div>
                </div>
                <br>
                <div class="mb-3" style="margin-top: -10px;">
                    <label for="exampleInputEmail1" class="form-label">Email Id</label>
                    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <div *ngIf="email?.invalid &&(email?.dirty||email?.touched)">
                        <p></p>
                        <div class="asset1" *ngIf="email?.errors?.['required']">
                            Email Id is required.
                        </div>
                        <div class="asset1" *ngIf="email?.errors?.['pattern']">
                            Email Id is invalid.
                        </div>
                    </div>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                    </div>
                </div>
                <div style="display: flex; margin-top: -10px;">
                    <div class="mb-3">
                        <label for="Otp1" class="form-label">OTP</label>
                        <input formControlName="otp"  type="text" class="form-control" >
                        <!-- <div *ngIf="password?.invalid &&(password?.dirty||password?.touched)">
                            <div class="asset1" *ngIf="password?.errors?.['required']">
                                Password is required.
                            </div>
                            <div class="asset1" *ngIf="password?.errors?.['pattern']">
                                Password should have min 8 letters with a symbol, number, upper and lower case letters.
                            </div>
                            </div> -->
                    </div>
                    <div>
                        <button type="button" style="margin-top: 32px;margin-left: 20px;" (click)="sendEmailData()" class="btn btn-primary">Send OTP</button> 
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                    <p></p>
                    <div *ngIf="password?.invalid &&(password?.dirty||password?.touched)">
                        <div class="asset1" *ngIf="password?.errors?.['required']">
                            Password is required.
                        </div>
                        <div class="asset1" *ngIf="password?.errors?.['pattern']">
                            Password should have min 8 letters with a symbol, number, upper and lower
                            case
                            letters.
                        </div>
                    </div>
                </div>

                <button type="reset" class="btn btn-primary" style="margin-left: 165px;"
                    [disabled]="!signupForm.valid"(click)="sendSignupData()" >Sign Up</button>

            </form>
        </form>
        <a *ngIf="!isLoading" style="color: aliceblue;margin-top: 10px; text-align: center; " routerLink="/login">Already
            registered ? click here to login !!!</a>
    </div>


</body>





















































